.p-button {
  background-color: transparent !important;
  color: #d74458 !important;

  i {
    color: #d74458 !important;
  }
}

.p-button:hover {
  background-color: transparent !important;
  color: #d74458 !important;

  i {
    color: #d74458 !important;
  }
}
