<div class="z-10 mx-auto flex max-w-[800px] flex-col justify-between px-4 py-4">
  <div class="flex border-b-[1px] pb-4">
    <i data-feather="arrow-left"></i>
    <div class="flex justify-center w-full">
      <span>MEUS PEDIDOS</span>
    </div>
  </div>

  <div class="mt-6">
    <h1 class="mb-2">Será entregue em</h1>
    <div class="flex flex-col">
      <span class="text-base font-light text-slate-500">R. Ibitira, 93 </span>
      <span class="text-sm font-light text-slate-500"
        >Casa portão branco - São Paulo/SP
      </span>
    </div>

    <div class="flex flex-col mt-6">
      <span class="text-wine-500">Entrega comum - R$7,00</span>
      <span>Hoje, 39-49 min</span>
    </div>

    <div>
      <h1 class="mb-2">Seu pedido</h1>
      <div>
        <!-- card -->
        <div class="rounded-lg border-[1px] px-6 py-4">
          <header class="flex items-center">
            <img
              class="h-[70px] w-[70px] rounded-full"
              src="https://static.ifood-static.com.br/image/upload/t_thumbnail/logosgde/ab798ad7-6093-41c6-b463-571fd7e82a72/202011300957_tFj4_i.jpg"
              alt=""
            />
            <div class="flex flex-col ml-2">
              <span class="text-base font-normal"
                >Divino Fogão - Itaim - São Miguel</span
              >
              <span class="text-sm font-light text-slate-500"
                >Pedido feito hoje as 18h45
              </span>
            </div>
          </header>
          <div class="my-2 h-[1px] w-full bg-slate-300"></div>
          <div class="flex flex-col gap-4 my-4">
            <div class="flex items-center">
              <span
                class="rounded bg-slate-200 px-2 py-[2px] text-sm text-slate-900"
                >1</span
              >
              <span class="ml-2 text-sm font-thin">Feijão Tropeiro</span>

              <span class="ml-auto mr-2 text-sm font-normal">R$32,00</span>
              <i
                class="h-[25px] w-[25px] rounded-full px-[4px] py-[2px] text-wine-500 hover:bg-slate-300"
                data-feather="x"
              ></i>
            </div>
            <div class="flex items-center">
              <span
                class="rounded bg-slate-200 px-2 py-[2px] text-sm text-slate-900"
                >6</span
              >
              <span class="ml-2 text-sm font-thin">Espetinho de frango</span>

              <span class="ml-auto mr-2 text-sm font-normal">R$48,00</span>
              <i
                class="h-[25px] w-[25px] rounded-full px-[4px] py-[2px] text-wine-500 hover:bg-slate-300"
                data-feather="x"
              ></i>
            </div>
          </div>
          <div class="my-2 h-[1px] w-full bg-slate-300"></div>
        </div>
      </div>
    </div>

    <div class="mt-6">
      <div class="flex justify-between">
        <span class="text-sm font-light text-slate-500">Taxa de entrega</span>
        <span class="text-sm font-light text-slate-500">R$7,00</span>
      </div>
      <div class="flex justify-between">
        <h1>Total</h1>
        <h1>R$87,00</h1>
      </div>
    </div>

    <div>
      <button
        class="fixed bottom-0 left-1/2 mb-2 flex w-full max-w-[800px] -translate-x-1/2 justify-center rounded bg-wine-500 px-4 py-4 font-medium tracking-wider text-white"
      >
        Realizar pedido
      </button>
    </div>
  </div>
</div>
