<footer
  class="fixed bottom-0 left-1/2 flex w-full max-w-[800px] -translate-x-1/2 justify-between rounded bg-white px-4 py-4 outline outline-1 outline-slate-200"
>
  <ng-container *ngIf="systemLevel === levels.ITEM">
    <div class="flex w-fit items-center gap-2">
      <button class="rounded-sm bg-slate-600 p-2" (click)="decrease()">
        <i class="fa-solid fa-minus text-white"></i>
      </button>
      <p class="w-[25px] text-center">{{ quantity }}</p>
      <button class="rounded-sm bg-slate-600 p-2" (click)="increase()">
        <i class="fa-solid fa-plus text-white"></i>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="systemLevel === levels.ITEM">
    <div
      class="flex flex-nowrap items-center rounded"
      [ngClass]="{
        'bg-wine-700': !quantity || quantity === 0,
        'cursor-pointer bg-wine-500': quantity && quantity > 0,
        'hover:bg-wine-400': quantity && quantity > 0
      }"
      (click)="addItem()"
    >
      <button
        class="flex h-full w-[200px] flex-nowrap items-center justify-around gap-4 px-8 text-white"
        [disabled]="!quantity || quantity === 0"
      >
        Adicionar
        <p class="w-[56px] text-white">
          {{ priceLabel | currency: "BRL" }}
        </p>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="systemLevel === levels.MENU">
    <div class="flex flex-col items-center">
      <p class="font-bold">Itens no carrinho</p>
      <p>{{ totalItems }}</p>
    </div>
  </ng-container>
  <ng-container *ngIf="systemLevel === levels.MENU">
    <div
      class="flex flex-nowrap items-center rounded bg-wine-500 hover:bg-wine-400"
      (click)="openCart()"
    >
      <button class="h-full w-full px-8 py-2 text-white">Ir ao carrinho</button>
      <p class="px-8 text-white">{{ totalValue | currency: "BRL" }}</p>
    </div>
  </ng-container>
</footer>
