<footer
  class="fixed bottom-0 left-1/2 flex w-full max-w-[800px] -translate-x-1/2 justify-between rounded bg-white px-4 py-4 outline outline-1 outline-slate-200"
>
  <ng-container *ngIf="systemLevel === levels.ITEM">
    <div class="flex items-center gap-2 w-fit">
      <button class="p-2 rounded-sm bg-slate-600" (click)="decrease()">
        <i class="text-white fa-solid fa-minus"></i>
      </button>
      <p class="w-[25px] text-center">{{ quantity }}</p>
      <button class="p-2 rounded-sm bg-slate-600" (click)="increase()">
        <i class="text-white fa-solid fa-plus"></i>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="systemLevel === levels.ITEM">
    <div
      class="flex items-center rounded flex-nowrap"
      [ngClass]="{
        'bg-wine-700': !quantity || quantity === 0,
        'cursor-pointer bg-wine-500': quantity && quantity > 0,
        'hover:bg-wine-400': quantity && quantity > 0
      }"
      (click)="addItem()"
    >
      <button
        class="flex h-full w-[200px] flex-nowrap items-center justify-around gap-4 px-8 text-white"
        [disabled]="!quantity || quantity === 0"
      >
        Adicionar
        <p class="w-[56px] text-white">
          {{ priceLabel | currency: "BRL" }}
        </p>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="systemLevel === levels.MENU">
    <div class="flex flex-col items-center">
      <p class="font-bold">Itens no carrinho</p>
      <p>{{ quantity }}</p>
    </div>
  </ng-container>
  <ng-container *ngIf="systemLevel === levels.MENU">
    <div
      class="flex items-center rounded flex-nowrap bg-wine-500 hover:bg-wine-400"
    >
      <button class="w-full h-full px-8 py-2 text-white" (click)="openCart()">
        Ir ao carrinho
      </button>
      <p class="px-8 text-white">{{ priceLabel | currency: "BRL" }}</p>
    </div>
  </ng-container>
</footer>
