<header
  class="absolute left-0 top-0 z-0 flex h-20 w-full items-start justify-center bg-wine-500 px-4 py-2 pb-4"
>
  <img
    class="h-2 w-fit object-scale-down"
    src="assets/EASYMENU.png"
    alt=""
    class="logo"
  />
</header>

<main
  class="z-10 mx-auto -mt-2 flex max-w-7xl justify-center"
  *ngIf="restaurant$ | async as restaurant"
>
  <section
    class="absolute top-8 flex w-full max-w-3xl flex-col justify-start gap-8 px-4 pb-8"
  >
    <div
      class="mx-auto flex w-full flex-col justify-between rounded rounded-t-md border border-slate-200 bg-white px-6 py-6 shadow-md"
    >
      <div class="flex h-full cursor-pointer flex-wrap justify-center gap-3">
        <img
          class="flex-1 md:max-w-[300px]"
          [src]="restaurant.image_cover"
          alt=""
        />
        <div class="flex flex-1 flex-col justify-center">
          <p class="whitespace-nowrap text-3xl font-bold text-slate-900">
            {{ restaurant.name }}
          </p>
          <div
            class="mt-1 flex items-center gap-2 whitespace-nowrap text-slate-400"
          >
            <i class="fa-solid fa-utensils"></i>
            <p class="text-[12px]">
              {{ restaurant.type }} - <a class="underline" href="">Ver mais</a>
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex items-center gap-2 py-1 pt-3 text-sm text-green-500"
        *ngIf="restaurant.isOpen; else notOpen"
      >
        <i class="fa-regular fa-clock"></i>
        <p>Aberta</p>
      </div>
      <ng-template #notOpen>
        <div class="flex items-center gap-2 py-1 pt-3 text-sm text-red-500">
          <i class="fa-regular fa-clock"></i>
          <p>Fechado</p>
        </div>
      </ng-template>
      <div class="flex items-center gap-2 py-1 text-sm">
        <i class="fa-solid fa-motorcycle"></i>
        <a class="underline" href="">Ver tempo e taxa de entrega</a>
      </div>
    </div>

    <div class="flex w-full items-center gap-4">
      <p-button pRipple class="p-button-primary" (click)="filterList()"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></p-button>
      <input pInputText type="text" class="w-full" [(ngModel)]="filterValue" />
    </div>

    <div class="group py-5">
      <div class="flex flex-col">
        <app-groups [groups]="restaurant.menu.groups"></app-groups>
      </div>
    </div>
  </section>
</main>

<app-cart-footer [systemLevel]="SYSTEM_LEVEL"></app-cart-footer>
