<div class="mx-auto h-full max-w-7xl border-l-2 border-r-2 px-4">
  <div *ngIf="restaurants$ | async as restaurants">
    <h1 class="py-4">Seus restaurantes</h1>

    <div class="flex justify-start gap-4">
      <p-card
        *ngFor="let restaurant of restaurants"
        [header]="restaurant.name"
        subheader="Itaquera e região"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img alt="Card" [src]="restaurant.image_cover" />
        </ng-template>
        <ng-template pTemplate="footer">
          <app-button [routerLink]="[restaurant.key]">ACESSAR</app-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
