<footer
  class="fixed bottom-0 left-1/2 flex w-full max-w-[800px] -translate-x-1/2 justify-between rounded bg-white px-4 py-4 outline outline-1 outline-slate-200"
>
  <div class="flex items-center gap-2 w-fit">
    <button class="p-2 rounded-sm bg-slate-600">
      <i class="text-white fa-solid fa-minus"></i>
    </button>
    <p>1</p>
    <button class="p-2 rounded-sm bg-slate-600">
      <i class="text-white fa-solid fa-plus"></i>
    </button>
  </div>

  <div class="flex items-center rounded bg-wine-500 flex-nowrap">
    <button class="w-full h-full px-8 text-white">Adicionar</button>
    <p class="px-8 text-white">R$112,00</p>
  </div>
</footer>
